:root {
 --color-primary: #5C56E1;
    --color-primary-dark: #5b21b6;
    --color-accent: #8B5CF6;
    --color-card: #FFFFFF;
    --color-input: #F1F1FF;
    --color-text: #09090E;
    --color-placeholder: #5C5A87;
    --color-border: #D4D4ED;
    --color-gradient: linear-gradient(135deg, #5C56E1, #8B5CF6);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  
}


form {
  background: var(--color-card);
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  width: 350px;
}

h2 {
  text-align: center;
  margin-bottom: 24px;
  color: var(--color-primary-dark);
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-input);
  font-size: 14px;
  color: var(--color-text);
}

input::placeholder {
  color: var(--color-placeholder);
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: var(--color-primary-dark);
}

p {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
